<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Mark Van Selous">
    <meta name="description" content="Query Form">
    <title>Results</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">    <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
	<link rel="stylesheet" href= {{ url_for('static', filename='my_styles.css') }}>
	<style>
	    body {
		background-color:#330099;
	    }
	</style>
</head>
<body>
    <nav class="navbar navbar-text bg-secondary">
	<div class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" href={{ url_for('polarization_form') }} id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	      Polarization
	    </a>
	    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	      <a class="dropdown-item" href= {{ url_for('polarization1_form') }}>One Material</a>
	      <a class="dropdown-item" href= {{ url_for('polarization_form') }}>Two Materials</a>
	    </div>		
	</div>
	<div class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" href={{ url_for('brightness_form') }} id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	      Brightness
	    </a>
	    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	      <a class="dropdown-item" href= {{ url_for('brightness1_form') }}>One Material</a>
	      <a class="dropdown-item" href= {{ url_for('brightness_form') }}>Two Materials</a>
	    </div>		
	</div>
	<a class="nav-link" href= {{ url_for('size_form') }} >Size and Ratio</a>
	<div class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" href={{ url_for('color_form') }} id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	      Color
	    </a>
	    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	      <a class="dropdown-item" href= {{ url_for('color1_form') }}>One Material</a>
	      <a class="dropdown-item" href= {{ url_for('color_form') }}>Two Materials</a>
	    </div>		
	</div>
	<div class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" href={{ url_for('documentation') }} id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Documentation
	    </a>
	    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	      <a class="dropdown-item" href= {{ url_for('mat_docs') }}>Materials</a>
	      <a class="dropdown-item" href= {{ url_for('size_docs') }}>Sizes</a>
	      <a class="dropdown-item" href= {{ url_for('color_docs') }}>Color</a>
	      <a class="dropdown-item" href= {{ url_for('index') }}>About Us</a>
	    </div>		
	</div>
    </nav>
    	<br>
	<h1 style="text-align: center"><b style="color:white"> Results</b></h1>
	<br>
    <div class="container-fluid">
	<div class="row">
	    <div class="col-2 sidebar position-fixed justify-content-center" id="sticky-sidebar">
		
		<!-- If needed, the download path could be altered if needed to handle calculation request from several clients simultaneously. -->
		<!-- So several outfiles will be stored. The one to show and download will be specific to the user's most recent calculation. -->
		<a class="btn btn-success justify-content-center" href= {{ url_for('download', file_path='outfile.csv') }} role="button">Download CSV</a>
	    </div>
	    <!-- offset-2 is needed because their is a bug with bootstrap and creating sticky sidebars. -->
	    <div class="col-8 offset-2">
		<div class="form-group row">
		    <table class="table table-dark table-striped table-bordered table-hover table-sm table-responsive">
			<thead>
			    {% for row in table_header %}
				<tr>
				{% for item in row %}
				    <th scope="col">{{item}}</th>
				{% endfor %}
				</tr>
			    {% endfor %}
			</thead>
			<tbody>
			    {% for row in table_data %}
			    <tr>
				{% for item in row %}
				<td style="color:white"> {{item}}</td>
				{% endfor %}
			    </tr>
			    {% endfor %}
			</tbody>
		    </table>
		</div>
	    </div>
	    <div class=col-2>
	    </div>	
	</div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>	
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
